.site-header {
	display: flex;
	flex-direction: column;
}

@mixin round-image-radius($imageUrl, $radius, $shadow) {
	width: $radius * 2;
	height: $radius * 2;
	margin-left: auto;
	margin-right: auto;
	background: url($imageUrl) no-repeat;
	@include round-corners($radius);

	-webkit-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	-ms-box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
	box-shadow: 0 0 $shadow rgba(0, 0, 0, .8);
}

.user-avatar {
	width: 250px;
	height: 250px;
	align-self: center;
	background: url("/images/me.png") no-repeat;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	-ms-border-radius: 125px;
	border-radius: 125px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	margin-top: 10px;
	margin-bottom: 10px;
}

.site-footer {
	display: flex;
	flex-direction: column;
}

.site-footer-social {
	align-self: center;
	display: flex;
	align-items: baseline;
}

.icon-link, .icon-link:hover  {
	text-decoration: none;
}

.site-footer-copyright {
	font-size: 14px;
	color: #828282;
}
