.site-header {
	display: flex;
	flex-direction: column;
}

.user-avatar {
	width: 250px;
	height: 250px;
	align-self: center;
	background: url("/images/me.png") no-repeat;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	-ms-border-radius: 125px;
	border-radius: 125px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	margin-top: 10px;
	margin-bottom: 10px;
}

.user-avatar:hover {
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	-ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.post {
  display: flex;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0 4px 8px 0rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  text-decoration: none;
}

.post:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
  -ms-box-shadow: 0 4px 8px 0rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}

.post-info {
  margin-left: 8px;
  margin-right: 8px;
}

a.page-link:hover {
  text-decoration: underline;
}

.page-link {
  color: black;
  margin-right: 4px;
  margin-left: 4px;
  text-decoration: none;
}

.site-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.site-aside {
  display: flex;
}

.site-footer {
	display: flex;
	flex-direction: column;
}

.site-footer-social {
	align-self: center;
	display: flex;
	align-items: baseline;
}

.site-footer-social .icon-link:not(:last-child) {
  margin-right: 8px;
}

.icon-link {
  width: 18px;
  height: 18px;
}

.icon-link, .icon-link:hover  {
	text-decoration: none;
}

.site-footer-copyright {
	font-size: 14px;
	color: #828282;
}

.post-info-title {
  color: black;
  margin-top: 16px;
  line-height: 1.2;
  align-self: flex-start;
  text-align: left;
  /* necessary for IE */
  max-width: 100%;
  flex-shrink: 1;
  /*                  */
}

.post-info-date {
  margin-bottom: 16px;
  align-self: flex-end;
  text-align: right;
  font-size: 14px;
  color: #828282;
}

.crop {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}


@media all and (max-width: 1000px) {
  .newline {
    display: none;
  }

  .site-aside {
    flex-direction: column;
  }

  .post {
    margin: 16px;
    width: 450px;
    height: 100px;
  }

  .post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100px;
  }

  .post-image-container {
    width: 200px;
    height: 100px;
    border-radius: 4px 4px 0 0;
    position: relative;
    overflow: hidden;
  }
}

@media all and (min-width: 1000px) {
  .newline {
    display: initial;
  }

  .read-more {
    text-align: left;
    align-self: center;
  }

  .site-aside {
    flex: auto;
  }

  .site-home {
    justify-content: flex-end;
    flex: auto;
  }

  .post {
    flex-direction: column;
    margin: 16px;
    width: 250px;
    height: 350px;
  }

  .post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }

  .post-image-container {
    width: 250px;
    height: 250px;
    border-radius: 4px 4px 0 0;
    position: relative;
    overflow: hidden;
  }
}